/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Variables */
:root {
  --background-color: #292929;
  --seat-color: #444451;
  --text-color: #777;
  --selected-color: #f6eb6f;
  --reserved-color: #fff;
  --info-background: rgba(0, 0, 0, 0.2);

  /* Animation */
  --transition: all 0.5s ease;

  /* Shadow */
  --box-shadow: 1px 10px 44px 9px rgba(255, 255, 255, 0.75);
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.screen {
  height: 200px;
  width: 100%;
  margin: 50px 0;
  box-shadow: var(--box-shadow);
}

.screen img {
  height: 100%;
  width: 100%;
}

.seatRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.seat {
  color: var(--seat-color);
  font-size: 20px;
  transition: var(--transition);
}

.seat.selected {
  color: var(--selected-color);
}

.seat.reserved {
  color: var(--reserved-color);
}

.seat:not(.reserved):hover {
  transform: scale(1.3);
  cursor: pointer;
}

ul {
  background-color: var(--info-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 25px;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-color);
}

.infoText {
  color: var(--reserved-color);
  display: none;
}

.infoText span {
  color: var(--selected-color);
}
